*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }


.bg-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/bg1.jpg'); 
    height : 100vh;
}
.avatar{
    width: 50px;
}
.bloc-title-home-page{

    padding-top: 20rem;
}

.trick-video{
    width: 100%;
    height: 100%;
}
.block-carousel{
    width: 20%;
    height: 20%;
}



